# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven Wrapper
.mvn/wrapper/maven-wrapper.properties

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
.factorypath
.springBeans
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log


