<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} | %-5level | %logger{1} | %msg%n"/>
        </Console>

        <File name="File" fileName="target/logs/automation.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} | %-5level | %logger{1} | %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Only log YOUR classes at INFO, ignore noisy libraries -->
        <Logger name="com.precision" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>